body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brown: #685044;
  --brownRGB: 104, 80, 68;
  /* --red: #bb4430; */
  --red: #9a3628;
  --redRGB: 187, 68, 48;
  --whitepink: #f9dec9;
  --whitepinkRGB: 249, 222, 201;
  --font1: "Holtwood One SC", serif;
  --font2: "Josefin Sans", sans-serif;

  --mainHorizontalPadding: 50px;
}

.page-container {
  padding: 20px 0px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
}

@media screen and (max-width: 550px) {
  :root {
    --mainHorizontalPadding: 20px;
  }
}
